/* reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p,
a, address, del, em, img, strong,
dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-family: 'Noto Sans', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', Dotum, '돋움', sans-serif;
  font-weight: 400;
}

body, html {
  width: 100%;
  height: 100%;
  min-width: 1380px;
  letter-spacing: -0.5px;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #111;
}

@media screen and (max-width: 1500px) {
}

main, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

input, select, textarea, button {
  font-family: 'Noto Sans', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', Dotum, '돋움', sans-serif;
  letter-spacing: -.5px;
  font-weight: 400;
  font-size: 16px;
  outline: none;
}

ol, ul, li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 0;
}

input, textarea, select, td, th {
  vertical-align: middle;
}

hr {
  display: none;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  text-decoration: none;
  color: #000;
}

em, address {
  font-style: normal;
}

fieldset {
  border: 0;
  vertical-align: top;
}

button {
  display: inline-block;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
}

select::-ms-expand {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}

select {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: 0;
}

input[type=checkbox], input[type=radio], input[type=text], input[type=password], input[type=email] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type=text]::-ms-clear {
  display: none;
}

legend, .blind {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #fff inset;
  -webkit-text-fill-color: #000;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  @include transition(background-color 5000s ease-in-out 0s);
}